set default="0"
set timeout="2"

menuentry "NeurOS" {
	linux /boot/bzImage root=/dev/sda1 rootwait console=tty1 console=ttyS0,115200n8
}

menuentry "NeurOS (phone / portrait 1080x2400)" {
	linux /boot/bzImage root=/dev/sda1 rootwait console=tty1 console=ttyS0,115200n8 neuros.mode=1080x2400
}
